* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1A0B2E;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

/* navbar */
nav {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
}

nav h1 {
    color: #FFFFFF;
}

.gradient {
    color: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-weight: 500;

}

.btn {
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    ;
    border-radius: 10000px;
    border: none;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 135px;
    font-size: 1rem;
    font-weight: 600;
}

/* hero section */
#hero {
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.img-container {
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}

.main-img {
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
}

.new-badge {
    background-color: #00FF88;
    border-radius: 1000px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;

}

.hero-contant h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-contant p {
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}

.btn-primary {
    width: 201px;
    padding-top: 12px;
    margin-right: 8px;
}

.fa-brands.fa-spotify {
    margin-right: 8px;
}

.btn-secondery {
    width: 147px;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000;
    color: #00FF88;

}

.fa-regular.fa-envelope {
    margin-right: 8px;
}


/* about section */
#about {
    padding-top: 50px;
    padding-bottom: 120px;
    color: #FFFFFF;
}

.about-container {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.about-contant h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;

}

.about-contant p {
    line-height: 20px;
}

hr {
    margin-top: 80px;
    margin-bottom: 80px;

}

.about-card {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}

.card {
    text-align: center;

}

.card h2 {
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}

.card h5 {
    font-size: 16px;
}

/* choose section */
#choose {
    background-color: #230E3D;
    max-width: 1600px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;

}

.choose-container,
.featured-container {
    width: 75%;
    margin: 0 auto;

}

.section-heading h3 {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.choose-info {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;

}

.box-1 {
    grid-area: box-1;
    width: 380px;
    padding-top: 116px;
}

.box-2 {
    grid-area: box-2;
}

.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
}

.box-5 {
    grid-area: box-5;
    width: 380px;
}

.choose-card {
    display: grid;
    grid-template-areas: "box-1 box-2 box-2"
        "box-1 box-3 box-3"
        "box-4 box-4 box-5";
    gap: 30px;


}


.choose-info img {
    margin-bottom: 16px;
}

.info-heading h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.info-heading p {
    line-height: 24px;
    color: #FFFFFF;
}

/* featured section */
#featured {

    padding-top: 120px;
    padding-bottom: 120px;

}

.featured-card {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 120px;
}

.featured-info {
    background-color: #250D44;
    border-radius: 24px;

}

.featured-heading {
    padding: 24px;
}

.featured-heading h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.featured-heading p {
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.time {
    color: #00FF88;
    font-weight: 600;

}

.fa-solid.fa-clock {
    margin-right: 6px;
}

.host-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    width: 75%;
    margin: 0 auto;
     border-radius: 40px; 
    padding: 40px;
}

.circle {
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.host-icon {
    margin-top: 16px;
    display: flex;
    gap: 8px;
}