*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 body{
    background-color: #1A0B2E; }

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    display: flex;
    justify-content: space-around;
  align-items: center;
  
}
nav h1{
    color: #FFFFFF;
}
.gradient{
    color: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-weight: 500;
    
}
.btn{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%); ;
border-radius: 10000px;
    border: none;
    color: #FFFFFF;
  padding:12px 16px;
  width: 135px;
  font-size: 1rem;
  font-weight: 600;
}

#hero{
     background-image: url(./assets/hero-bg.png); 
    position: relative;
    width: 100%;
   
}
.main-img{
    position: absolute;
     width:350px;
     height: 350px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

#about{
    padding-top: 50px;
    padding-bottom: 120px;
    color: #FFFFFF;
}
.about-container{
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.about-contant h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;

}
.about-contant p{
    line-height: 20px;
}
hr{
    margin-top: 80px;
    margin-bottom: 80px;

}
.about-card{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}
.card{
    text-align:  center;
}
.card h2{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}
.card h5{
    font-size: 16px;
}