*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 body{
    background-color: #1A0B2E; }

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
/* navbar */
nav{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}
nav h1{
    color: #FFFFFF;
}
.gradient{
    color: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-weight: 500;
    
}
.btn{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%); ;
border-radius: 10000px;
    border: none;
    color: #FFFFFF;
  padding:12px 16px;
  width: 135px;
  font-size: 1rem;
  font-weight: 600;
}
/* hero section */
#hero{
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.img-container{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}
.main-img{
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}
.overlay-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
}
 .new-badge{
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    top: 12px;
    right: 20px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
} 

.hero-contant h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.hero-contant p{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}
.btn-primary{
    width: 201px;
    padding-top: 12px;
   margin-right: 8px;
}
.fa-brands.fa-spotify{
    margin-right: 8px;
}
.btn-secondery{
   width: 147px;
background: transparent;
border: 1px solid #00FF88;
border-radius: 10000;
color: #00FF88;

}
.fa-regular.fa-envelope{
  margin-right: 8px;  
}


/* about section */
#about{
    padding-top: 50px;
    padding-bottom: 120px;
    color: #FFFFFF;
}
.about-container{
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.about-contant h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;

}
.about-contant p{
    line-height: 20px;
}
hr{
    margin-top: 80px;
    margin-bottom: 80px;

}
.about-card{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}
.card{
    text-align:  center;
    
}
.card h2{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}
.card h5{
    font-size: 16px;
}
